

/* Estilos brindados por el profesor Fernando adaptados a nuestro proyecto*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #D3D3D3; 
    margin: 0;
    padding: 0;
    color: #5a4a42; 
    line-height: 1.6;
}


h1 {
	color: #RosyBrown; 
    border-bottom: 2px solid #696969; 
    padding-bottom: 8px;
}


h2, h3 {
    color: #2F4F4F; 
    border-bottom: 2px solid #696969; 
    padding-bottom: 8px;
}

h2 {
    text-align: center;
}



a {
    color: #0000FF;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

a:hover {
    color: #ff8c00;
    text-decoration: underline;
}

header {
  background: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

button {
    display: inline-block;
    margin: 10px 5px;
    padding: 12px 24px;
    background-color: #778899;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 16px;
}

button:hover {
    background-color: #696969;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

